body{
    background-color: rgb(255, 127, 217);
}

#loginPageHeading1{
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

#loginBox{
    margin-top: 100px;
    margin-left: 500px;
    margin-right: 500px;
    background-color: rgb(139, 173, 120);
}

#usernameSet, #passwordSet{
    font-size: 22px;
    text-align: center;
}

#loginButton{
    font-size: 28px;
    text-align: center;
}